::ng-deep .dx-datagrid .dx-data-row > td.bullet {
  padding-top: 0;
  padding-bottom: 0;
}

.buttons-column {
  display: flex;
  justify-content: flex-end;
  margin-top: 10px;
  margin-right: 15px;
  margin-bottom: 45px;
}



