<div class="content-block dx-card responsive-paddings">
  <dx-form id="form" [formData]="notas" [colCount]="1">

    <dxi-item class="buttons">
      <dx-button
        icon="undo"
        text="Voltar"
        [width]="136"
        (onClick)="voltar()">
      </dx-button>

      <dx-button
        icon="close"
        type="danger"
        text="Cancelar"
        [width]="136"
        (onClick)="cancelar()">
      </dx-button>

        <dx-button
          icon="check"
          type="success"
          text="Salvar"
          [width]="136"
          (onClick)="salvar()">
        </dx-button>
    </dxi-item>

    <dxi-item itemType="group" caption="Cadastro de Nota Fiscal">

      <div class="containerTextBox">
        <div class="autocomplete">
          <div class="autocomplete-input">
            <dxi-item dataField="nome do Cliente">
              <dx-lookup
                placeholder="Digite o nome para buscar o cliente..."
                [dataSource]="listaClientes"
                [valueExpr]="'nome'"
                [(value)]="clienteSalvo"
                displayExpr="nome"
                searchMode="contains"
                [searchExpr]="'nome'"
                [searchEnabled]="true"
                [minSearchLength]="3"
                [showDataBeforeSearch]="true">
              </dx-lookup>
            </dxi-item>
          </div>
        </div>

        <div class="dateBox">
          <dxi-item dataField="data de Emissão">
            <dx-date-box
              [inputAttr]="{ 'aria-label': 'Data da Nota' }"
              [width]="300"
              alignment="left"
              [value]="notas.data"
              displayFormat="dd/MM/yyyy">

              <dxi-validation-rule
                type="required"
                message="É necessário informar a data da nota">
              </dxi-validation-rule>
            </dx-date-box>
          </dxi-item>
        </div>
      </div>

      <dxi-item>
        <dx-data-grid
          id="items"
          [dataSource]="items"
          [repaintChangesOnly]="true"
          [columnAutoWidth]="true"
          [showBorders]="true"
          (onRowInserted)="onRowInserted($event)">

          <dxo-paging [pageSize]="10"></dxo-paging>

          <dxo-editing
            mode="row"
            [allowAdding]="true"
            [allowUpdating]="true"
            [allowDeleting]="true">
          </dxo-editing>

          <dxi-column
            dataField="ordenacao"
            caption="Item"
            dataType="number"
            alignment="rigth"
            [allowEditing]="false"
            [width]="80">
          </dxi-column>

          <dxi-column
            dataField="produto.id"
            caption="Produto"
            dataType="number"
            alignment="left"
            [allowGrouping]="false"
            cssClass="bullet">

            <dxo-lookup
              [dataSource]="dataSourceProdutos"
              valueExpr="id"
              displayExpr="descricao">
            </dxo-lookup>

            <dxi-validation-rule
              type="required"
              message="Produto obrigatório">
            </dxi-validation-rule>
          </dxi-column>

          <dxi-column
            dataField="quantidade"
            dataType="number"
            alignment="left"
            [width]="110">

            <dxi-validation-rule
              type="required"
              message="Quantidade obrigatória">
            </dxi-validation-rule>
          </dxi-column>

          <dxi-column
            dataField="valor_total"
            dataType="number"
            format="R$ #.##0,##"
            [allowSorting]="true"
            [allowEditing]="false"
            [calculateCellValue]="calculateTotalValue">
          </dxi-column>

          <dxo-summary>
            <dxi-total-item
              column="valor_total"
              summaryType="sum"
              displayFormat="{0}"
              valueFormat="Valor Total:  R$ #.##0,##">
            </dxi-total-item>
          </dxo-summary>
        </dx-data-grid>
      </dxi-item>

      </dxi-item>
  </dx-form>
</div>
